// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #e16363;
}


.container {
  width: 700px;
  margin: 40px auto;
}

.container h2 {
  color: white;
  width: 700px;
}

#restaurant-list a {
  color: white;
}

#restaurant-list a:hover {
  color: #d8b6be;
  text-decoration: none;
}
